apiVersion: v1
kind: PersistentVolume
metadata:
  name: static-pv-mongodb
  namespace: $K8S_NAMESPACE
spec:
  storageClassName: $STORAGE_CLASS
  capacity:
    storage: 100Mi
  accessModes: 
    - ReadWriteMany
  nfs:
    path: $NFS_SERVER_MONGODB
    server: $NFS_SERVER
